{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<main role="main" class="container">
    <div class="content-section">
        {{ form.media }}  {# Adds widget's JS/CSS files from CDN #}
        {% if booking.booked_user %}
        <h4 class='text-muted'>You already booked a trial for: </h4>
        <h5 class='text-muted'>Site: </h5>
            <p class='text-muted'>{{ booking.booked_site }}</p>
          <h5 class='text-muted'>Date: </h5>
            <p class='text-muted'>{{ booking.booked_date }}</p>
            <h5 class='text-muted'>Trial Status: </h5>
            <p class='text-muted'>{{ booking.trial_status }}</p>
            <h6 class='text-muted'>Important: Trial status can take up to 5 business days to update. If you want to change your booked trial, please communicate with the staff.</h5>
          {% else %}
          <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Booking a Trial</legend>
                {{ b_form|crispy }}
            </fieldset>
            <div class="border-top pt-3">
                <small class="text-muted">
                    Please, check the data before you book the trial: <a class="ml-2" </a>
                </small>
            </div>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Book</button>
            </div>
        </form>
          {% endif %}

    </div>
</main>

{% endblock content %}