{% extends "users/base.html" %}
{% block content %}
<main role="main" class="container">
  <div class="row">
    <div class="col-md-12">
        <div class="content-section">
            <h2>Hello {{ user.first_name }} {{ user.last_name }}, </h2>
            <p>{{ user.email }}</p>
            <h5>Welcome to the DLMS</h5>
        </div>
      <div class="content-section">
        <p class='text-muted'>Please, select an option:
          <ul class="list-group">
            <a class="nav-item nav-link" href="{% url 'booking' %}">Book a Trial</a>
            <a class="nav-item nav-link" href="{% url 'status' %}">View Status</a>
            <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
          </ul>
        </p>
      </div>
    </div>
  </div>
</main>
{% endblock content %}